<html>
    <head>
      <title>Pelatiah's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pelatiah Blog</a> </h1>
        </div>
        <div>
            <p> published: Friday, April 7</p>
            <h2><a href="">Daily Text</a> </h2>
            <p>God sent his only-begotten Son into the world so that we might gain life through him.—1 John 4:9.</p>
            <p>Do you appreciate what Jehovah has done for you? Then it would be fitting to dedicate
              your life to Jehovah and get baptized. Remember, dedication involves a solemn promise to Jehovah
              to do his will forever, no matter what happens. Should you be afraid to make such a commitment?
              Not at all! Bear in mind that Jehovah has your best interests at heart, and he is “the rewarder
              of those earnestly seeking him.” (Heb. 11:6) Dedicating yourself to Jehovah and getting baptized do
              not make your life worse. On the contrary, serving Jehovah will make your life better. How different
              Jehovah is from Satan, whose interest in you is only selfish! Satan offers no lasting reward to those
              who side with him. And really, how can he give you something that he does not possess?
              w16.03 2:16, 18, 19</p>
        </div>
        <div>
            <p> published: Saturday, April 8</p>
            <h2><a href="">Daily Text</a> </h2>
            <p>Father, I thank you that you have heard me. True, I knew that you always hear me.—John 11:41, 42.</p>
            <p>For your relationship with Jehovah to be real, you must be convinced that he is hearing prayers.
              Consider this: From his prehuman existence, Jesus observed firsthand Jehovah’s response to the
              prayers of His human servants. Then, during his earthly ministry, Jesus used prayer as his means
              of communicating his feelings to his Father in heaven. Would he have done so—even spending an entire
              night in prayer—had he thought that Jehovah was not really listening? (Luke 6:12; 22:40-46) Would he
              have taught his disciples to pray had he thought that prayer was nothing more than a psychological
              crutch? Clearly, Jesus knew that prayer is real communication with Jehovah. We too can have confidence
              that Jehovah is the “Hearer of prayer.”—Ps. 65:2. w15 4/15 3:11, 13</p>
        </div>
    </body>
</html>
